:host {
  .hero {
    min-height: 100%;
    .hero-head {
      padding: 1rem 0;
      @media (min-width: 768px) {
        padding: 4rem 0;
      }
    }
    .hero-body {
      position: relative;
      padding: 0;
    }
  }
}
