<app-schedule-form [showForm]="schedules.length === 0"></app-schedule-form>

<div class="show-list" *ngIf="schedules.length > 0">
  <ul class="carousel"
      [style.width]="(schedules.length * 90) + 'vw'"
      [style.left]="'calc(50% - '+ carouselLeftOffset +'vw)'"
  >
    <li class="box has-text-centered"
        *ngFor="let schedule of schedules; let i = index"
        [class.is-active]="i === current"
    >
      <p class="title has-text-grey">{{ schedule.title }}</p>
      <p>{{ schedule.description }}</p>
    </li>
  </ul>
  <button class="button prev" (click)="prev()"
          [class.is-disabled]="current === 0"
  >
    <span class="icon is-small">
      <fa-icon icon="chevron-left"></fa-icon>
    </span>
  </button>
  <button class="button next" (click)="next()"
          [class.is-disabled]="current === schedules.length - 1"
  >
    <span class="icon is-small">
      <fa-icon icon="chevron-right"></fa-icon>
    </span>
  </button>
</div>
