@import "~bulma/sass/utilities/all";

:host {
  width: 100%;
  .show-list {
    ul.carousel {
      position: absolute;
      top: 0;
      left: 50%;
      display: flex;
      width: 100%;
      transition: left 300ms ease;
      li {
        width: 90vw;
        height: 60vh;
        margin: 0.5rem;
        transition: transform 300ms ease;
        transform: scaleY(0.9);
        &.is-active {
          transform: scaleY(1.1);
        }
      }
      button.is-disabled {
        opacity: 0.5;
      }
    }
    button.button.prev,
    button.button.next {
      position: absolute;
      top: 15px;
      background-color: $dark;
      opacity: 0.4;
      color: white;
      border: none;
      &:hover {
        opacity: 0.8;
      }
      &.prev {
        left: -3px;
      }
      &.next {
        right: -3px;
      }
      &.is-disabled {
        opacity: 0.2;
      }
    }
  }

}
