<app-schedule-form [showForm]="schedules.length === 0"></app-schedule-form>

<div class="show-list" *ngIf="schedules.length > 0">
  <ul class="carousel"
      [style.width]="(schedules.length * 90) + 'vw'"
      [style.left]="'calc(50% - '+ carouselLeftOffset +'vw)'"
  >
    <li class="box has-text-centered"
        *ngFor="let schedule of schedules; let i = index"
        [class.is-active]="i === current"
    >
      <p class="has-text-grey" style="font-size: 1.4rem;">{{ schedule.title }}</p>
      <p>{{ schedule.description }}</p>
      <br>

      <button class="button is-info"
              *ngIf="!schedule.session_opened && !setSessionTime[schedule.id]"
              (click)="setSessionTime[schedule.id] = true"
      >
        Abrir Sessão de Votação
      </button>
      <div class="field" *ngIf="setSessionTime[schedule.id]">
        <label class="has-text-grey">Duração (segundos)</label>
        <div class="field is-grouped">
          <input type="text" class="input" autofocus value="60" #time>
          <button class="button is-info"
                  (click)="openSession(schedule.id, time.value)"
          >OK</button>
        </div>
      </div>

      <div class="field" *ngIf="!!schedule.session_opened">
        <form [formGroup]="voteForm">
          <label>Votar</label>
          <div class="field">
            <input type="text" class="input" placeholder="Nome" formControlName="name">
          </div>
          <div class="field">
            <input type="text" class="input is-danger" placeholder="CPF (obrigatório)" formControlName="document" [textMask]="{mask: cpfMask}">
          </div>
          <div class="field is-grouped">
            <button type="submit" class="button is-link is-fullwidth" (click)="vote('Y', schedule.id)"
                    [class.is-disabled]="voteForm.invalid"
            >Sim</button>
            <button type="submit" class="button is-warning is-fullwidth" (click)="vote('N', schedule.id)"
                    [class.is-disabled]="voteForm.invalid"
            >Não</button>
          </div>
        </form>
      </div>

    </li>
  </ul>
  <button class="button prev" (click)="prev()"
          [class.is-disabled]="current === 0"
  >
    <span class="icon is-small">
      <fa-icon icon="chevron-left"></fa-icon>
    </span>
  </button>
  <button class="button next" (click)="next()"
          [class.is-disabled]="current === schedules.length - 1"
  >
    <span class="icon is-small">
      <fa-icon icon="chevron-right"></fa-icon>
    </span>
  </button>
</div>
