:host {
  width: 100%;
  display: flex;
  justify-content: center;
  #new-schedule-form {
    &.box {
      width: 80%;
      min-width: 300px;
    }
  }
  #schedules-list {
    display: flex;
    justify-content: center;
    .box {
      width: 250px;
    }
  }
}
